* text=auto

*.java text eol=lf
*.json text eol=lf
*.kts text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
mvnw text eol=lf
mvnw.cmd text eol=crlf
*.jar binary
*.nar filter=lfs diff=lfs merge=lfs -text
